<!DOCTYPE html>
<html>
    <head>
        <title> SafeRoute Web Page </title>
        <style>
            body {
                text-align: center;
            }
            img {
                width: 1000px;
                height: 350px;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
        
        <img src="https://github.com/ksenlisan/TDI-Summer-2022-Capstone/blob/14411cdacac94d3d4b8a4882efbb9c7b65014021/SafeRoute%20intro.png?raw=true" alt="Image not found">
        
        <br>
        <form action="Enter Origin" method="post">
            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {% endfor %}
            <br>
            <input type="text" name="name">
            <br>
            <input type="submit" value="Some Bullshit">

        </form>
    </body>
</html>